//Font
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$base-font1: "Lato", sans-serif;
$base-font2: "Cormorant Garamond", serif;
$base-font3: "Open Sans", sans-serif;
$color1: #00205b;
$color9: #9fddf9;
$color11: #ffffff;
$tablet_view: 992/1200;
// mixin setFont for setting font size, letter spacing, line height
@mixin setFont($font_size, $letter_spacing, $line_height) {
  font-size: $font_size;
  letter-spacing: $letter_spacing;
  line-height: $line_height;
}

//vertical center align
@mixin horizontal-center-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

//x asix and y axis center align with flex
@mixin centerXYWithFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

// for remove input box default blue color shadow when we focus on it.
input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.web-only {
  display: block;
}

.mob-only {
  display: none;
}
#root {
  .col-xs-12 {
    width: 100%;
    float: left;
  }
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
  .hide {
    display: none;
  }
  .main_body {
    height: 100vh;
    background-image: var(--backgroundImage);
    background-position: top var(--headerHeight) center;
    background-repeat: no-repeat;
    background-size: cover;
    .image-logo {
      background-color: var(--headerBackgroundColor);
      height: var(--headerHeight);
      position: absolute;
      top: 0;
      display: var(--headerLogoAlignmentCenter);
      img {
        padding: 25px 0;
        margin: auto;
        width: var(--headerLogoWidth);
        float: var(--headerLogoAlignmentLeftRight);
      }
      &:before {
        content: "";
        background: var(--headerBorderColor);
        position: absolute;
        left: 0px;
        right: 0px;
        height: var(--headerBorderHeight);
        bottom: 0;
        width: 100%;
      }
    }
    .login_wrapper {
      margin-top: var(--bgBoxTopMargin);
      width: var(--bgBoxWidth);
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      .login-body-wrapper {
        .login_form {
          padding: var(--bgBoxPadding);
          background-color: var(--bgBoxColor);
          .prospect_name {
            margin: var(--prospectnamemargin);
            color: var(--prospectnamecolor);
            font-family: var(--prospectnamefontfamily);
            font-weight: var(--prospectnamefontweight);
            font-size: var(--prospectnamefontsize);
            line-height: var(--prospectnamelineheight);
            font-style: var(--prospectnamefontstyle);
            text-align: var(--prospectnametextalign);
          }
          .passcode_msg {
            font-family: $base-font1;
            font-weight: 700;
            @include setFont(15px, 0.19px, 23px);
            color: $color1;
            text-align: center;
            margin: 34px 0 10px;
          }
          .passcode_input_feild,
          .username_input_feild {
            margin: auto;
            height: var(--inputheight);
            max-width: 100%;
            font-size: var(--inputfontsize);
            border: var(--inputborder);
            box-shadow: var(--inputboxshadow);            
            -webkit-box-shadow: var(--inputboxshadow);
            -moz-box-shadow: var(--inputboxshadow);
            border-radius: var(--inputborderradius);
            background-color: var(--inputbackgroundcolor);
            text-align: var(--inputtextalign);
            &:focus {
              box-shadow: var(--inputboxshadow) !important;
              -webkit-box-shadow: var(--inputboxshadow) !important;
              -moz-box-shadow: var(--inputboxshadow) !important;
            }
          }
          .forgot_passcode_wrapper {
            text-align: center;
            padding-top: 11px;
            a {
              font-family: $base-font1;
              font-weight: 400;
              @include setFont(13px, 0.16px, 20px);
              color: #0a509e;
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .button_wrapper {
            margin: var(--btnmargin);
            .login_btn {
              margin: auto;
              font-family: var(--btnfontfamily);
              font-weight: var(--btnfontweight);
              @include setFont(var(--btnfontsize), var(--btnletterspacing), var(--btnlineheight));
              width: var(--btnwidth);
              height: var(--btnheight);
              border-radius: var(--btnborderradius);
              padding: var(--btnpadding);
              text-transform: var(--btntexttransform);
              border: var(--btnborder);
              color: var(--btncolor);
              background-color: var(--btnbackgroundcolor);
              &:hover {
                background-color: var(--btnhoverbackgroundcolor);
                color: var(--btnhovercolor);
              }
            }
            .login_btn[disabled] {
              cursor: auto;
            }
          }
        }
      }
      .footer_wrapper {
        text-align: center;
        margin-top: 20px;
        color: $color11;
        font-family: $base-font1;
        font-weight: 400;
        @include setFont(13px, 0.16px, 21px);
        width: 570px;
        .phone_info {
          color: $color11;
        }
        .mail_info {
          text-decoration: underline;
          color: $color9;
        }
      }
      .policy-wrapper {
        display: block;
        margin-top: 20px;
        max-width: 100%;
        text-align: center;
        @include centerXYWithFlex();
        .policy-wrapper-button {
          background-color: #0a509e;
          border-radius: 0px;
          width: 129px;
          height: 19px;
          padding: 1px 6px;
          letter-spacing: 0;
          a {
            @include centerXYWithFlex();
          }
        }
        a {
          &:hover {
            text-decoration: none;
          }
        }
        .privacy_info_text {
          color: $color11;
          font-family: $base-font3;
          font-size: 12px;
          font-weight: 400;
          margin-bottom: auto;
          margin-top: auto;
          padding-left: 5px;
          position: static;
          text-decoration: underline;
          line-height: normal;
        }
        .icon-image,
        .icon-image img {
          margin-top: 0.5px;
          height: 9.9px;
          width: 8.1px;
        }
      }
    }
    &.common_login_body {
      .login_wrapper {        
        .footer_wrapper {
          width: 430px;
        }
        .login-body-wrapper {
          .login_form {
            .username_label,
            .passcode_label {
              color: var(--labelcolor);
              font-family: var(--labelfontfamily);
              font-weight: var(--labelfontweight);
              @include setFont(var(--labelfontsize), var(--labelletterspacing), var(--labellineheight));
              margin-bottom: var(--labelmargin);
            }
            .user_passcode_wrapper {
              @include horizontal-center-align;
              width: var(--inputwrapperwidth);
              max-width: 100%;
            }
            .passcode_input_feild,
            .username_input_feild,
            .passcode_label,
            .username_label {
              text-align: left;
              width: 100%;
            }
            .passcode_wrapper {
              margin-top: 0;
              margin-bottom: 0;
            }
            .username_wrapper {
              margin: var(--inputmargin);
            }
          }
        }
      }
    }
  }

  // Tablet View
  @media (max-height: 717px) and (min-width: 990px) {
    .main_body {
      .login_wrapper {
        padding: 32px 20px;
        transform: inherit;
        -webkit-transform: inherit;
        left: inherit;
        top: inherit;
        position: inherit;
        width: 100% !important;
        .login-body-wrapper {
          display: flex;
          display: -ms-flex;
          display: -webkit-flex;
        }
        .footer_wrapper {
          width: inherit;
          .footer_info {
            margin: auto;
            float: none;
          }
        }
      }
      &.common_login_body .login_form {
        margin: auto;
      }
      &.login_body .login_form {
        margin: auto;
      }
      &.login_body .login_wrapper {
        .footer_wrapper {
          width: inherit;
          .footer_info {
            width: 570px;
          }
        }
      }
      &.common_login_body .login_wrapper {
        .footer_wrapper {
          width: inherit;
          .footer_info {
            width: 430px;
          }
        }
      }
    }
  }

  // Mobile View
  @media only screen and (max-width: 991px) {
    .web-only {
      display: none;
    }
    .mob-only {
      display: block;
    }
    .main_body {
      background-position: top center;
      .image-logo {
        height: 80px;
        img {
          width: 238px;
          padding: 23px 0;
        }
        &:before {
          height: 0;
        }
      }
      .login_wrapper {
        margin-top: 100px;
        padding: 30px 16px;
        transform: inherit;
        -webkit-transform: inherit;
        left: inherit;
        top: inherit;
        position: inherit;
        width: 100%;
        width: calc(var(--bgBoxWidth) * $tablet_view);
        .login-body-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          .login_form {
            padding: 0 16px;
            width: var(--bgBoxWidthMob);
            .prospect_name {
              font-size: 21px;
              padding: 27.75px 0 58px;
              line-height: 29px;
            }
            .passcode_msg {
              @include setFont(13px, 0.16px, 20px);
              margin: auto;
            }
            .username_input_feild,
            .passcode_input_feild {
              height: 45px;
              background-color: #e3e3e3;
            }

            .passcode_wrapper {
              margin-top: 9px;
            }
            .forgot_passcode_wrapper {
              padding-top: 10px;

              a {
                @include setFont(11px, 0.14px, 17px);
                color: #1d568b;
              }
            }
            .button_wrapper {
              margin: 30.02px 0px 34.18px;
              padding: 0;
              .login_btn {
                width: 145.5px;
                height: 28.05px;
                border-radius: 14.03px;
                @include setFont(11.05px, 0.14px, 18.7px);
              }
            }
          }
        }
        .footer_wrapper {
          @include setFont(11px, 0.14px, 17px);

          margin-top: 20px;
          width: 288px;
          @include horizontal-center-align;
        }
        .policy-wrapper {
          font-size: 12px;
          margin-top: 20px;
          letter-spacing: normal;

          .policy-wrapper-button {
            width: 110px;
            height: 16px;
            padding: 1px 6px;

            .icon-image,
            .icon-image img {
              width: 6.89px;
              height: 8.41px;
            }
          }
          .privacy_info_text {
            font-size: 10.2px;
            padding-left: 4px;
            letter-spacing: 0;
          }
        }
      }
      &.common_login_body {
        .login_wrapper {
          padding: 30px 16px 30px;
          width: 100%;
          margin-top: 100px;
          .login-body-wrapper {
            .login_form {
              .passcode_input_feild,
              .username_input_feild,
              .passcode_label,
              .username_label {
                width: 256px;
              }
              .username_label,
              .passcode_label {
                @include setFont(13px, 0.16px, 20px);
                margin-bottom: 9px;
              }
              .user_passcode_wrapper {
                width: 256px;
              }
              .username_wrapper {
                margin-bottom: 30px;
              }
              .prospect_name {
                margin-bottom: 0px;
                padding: 27px 0 30px;
              }
              .button_wrapper {
                margin: 35.02px 0px 34.18px;
                .login_btn {
                  letter-spacing: 0.14px;
                }
              }
            }
          }
          .footer_wrapper {
            width: 100%;
            .footer_info {
              padding: 0;
            }
          }
          .policy-wrapper {
            margin-top: 17px;
          }
        }
      }
    }
  }
}
